div {
    width: 100px;
    height: 100px;
    background-color: orange;
    position: relative;
    animation: transform 2s infinite;
}

@keyframes transform {
    0% {
        background-color:orange;
        transform: rotate(0deg) scale(1);
        left:0; 
        top:0;
    }
    25% {
        background-color:grey;
        transform: rotate(90deg) scale(1.2);
        left: 150px;
        top: 0;
    }
    50% {
        background-color: rgb(21, 130, 138);
        transform: rotate(180deg) scale(1);
        left: 150px;
        top: 150px;
    }
    75% {
        background-color: rgb(34, 37, 37);
        transform: rotate(270deg) scale(1.2);
        left: 0;
        top: 150px;
    }
    100% {
        background-color: orange;
        transform: rotate(360deg) scale(1);
        left: 0;
        top: 0;
    }
}